# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local development settings
.env
/virtualenv


# Database
db.sqlite3
*.sqlite3

# Static files
/staticfiles/

# Media files
/media/

# Django migrations
/migrations/
